{
    "branches": ["master"],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        ["@semantic-release/github", {
            "assets": [
                {"path": "../../build/distributions/kcd.tar", "label": "Binary - Tar"},
                {"path": "../../build/distributions/kcd.zip", "label": "Binary - Zip"}
            ]
        }],
        ["@semantic-release/exec", {
          "prepareCmd" : "./release-files.sh ${nextRelease.version}"
        }]
    ]
}
